.block
  .secondary-navigation
    %ul.wat-cf
      %li
  .content
    %h2.title Customize Forms
    .inner
      %ul.list
        %li
          %a{:href => "customizations/edit/bidder"} Customize Bidder Fields
        %li
          %a{:href => "customizations/edit/auction"} Customize Auction Fields