-if !@auction
  No statistics yet exist for this auction.
-else
  %table
    %tr
      %td 
        %label Lots
      %td=@auction.details.lots.size
    %tr
      %td 
        %label Sales
      %td=@auction.details.sales.size
    %tr
      %td 
        %label Total Bidders
      %td=@auction.details.bidders.size
    