.group
  %label Bidder Num:
  %br
  %input.text_field{:type => 'text', :style => "width:75px", :'data-bind'=>"value: bidder_number", :maxlength => '6'}
.group
  %label ID Number:
  %br
  %input.text_field{:type => 'text', :style => "width:75px", :'data-bind'=>"value: id_number" }
.group
  %label Company:
  %br
  %input.text_field{:type => 'text', :style => "width:150px", :'data-bind'=>"value: company_name"  }
.group
  %label First Name:
  %br
  %input.text_field{:type => 'text', :style => "width:150px", :'data-bind'=>"value: first_name"  }
.group
  %label Last Name:
  %br
  %input.text_field{:type => 'text', :style => "width:150px", :'data-bind'=>"value: last_name" }
.group
  %label Phone:
  %br
  %input.text_field{:type => 'text', :style => "width:150px", :'data-bind'=>"value: phone, mask:'(999) 999-9999'" }
.group
  %label Email:
  %br
  %input.text_field{:type => 'text', :style => "width:150px", :'data-bind'=>"value: email" }
  