.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:auctions, :index)
      %li.active=link_to pat(:new), url(:auctions, :new)
  .content
    %h2.title New Auction
    .inner
      -form_for :auction, nil, :class => :form do |f|
        =partial "auctions/form", :locals => { :f => f }