.group=f.simple_field :number
.group=f.simple_field :first_name
.group=f.simple_field :last_name
.group=f.simple_field :id_number
-@bidder.custom_fields.each do |custom|
  .group=f.simple_field custom.field, :caption => custom.label
.group.navform.wat-cf=f.simple_submit  url(:bidders, :index, :auctions_id => @auction.id)
