.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:bidders, :index, :auctions_id => "#{@auction.id}")
      %li=link_to pat(:new), url(:bidders, :new, :auctions_id => "#{@auction.id}")
  .content
    %h2.title Checkout Bidder
    .inner
      %table.table
        %tr
          %th.first Lot
          %th Description
          %th Price/Unit
          %th Qty
          %th.last Total
        -sum = Money.new(0)
        -@sales.each do |sale|
          %tr
            %td=sale.lot
            %td=sale.description
            %td=sale.price.format
            %td=sale.quantity
            -line_total = sale.price * sale.quantity
            -sum += line_total
            %td=line_total.format
        %tr
          %td{:colspan =>"4"} Subtotal:
          %td=sum.format
        %tr
          %td{:colspan =>"3"} Buyer's Fee:
          %td=AppParameters.get.standard_fee_pct
          %td=(AppParameters.get.standard_fee_pct/100)+1
        %tr
          %td{:colspan =>"4"} TOTAL AMOUNT:
          %td=sum.format
      -form_for :auction, nil, :method => :put, :class => :form do |f|
        =f.simple_submit("/auctions/#{@auction.id}/bidders", :submit_text => "Checkout")
          