.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:bidders, :index, :auctions_id => "#{@auction.id}")
      %li=link_to pat(:new), url(:bidders, :new, :auctions_id => "#{@auction.id}")
  .content
    %h2.title Edit Bidder
    .inner
      -form_for :bidder, url(:bidders, :edit, :auctions_id => "#{@auction.id}", :id =>"#{@bidder.id}"), :method => :put, :class => :form do |f|
        =partial "bidders/form", :locals => { :f => f }