:javascript
  String.prototype.startsWith = function(str){
    // TODO: kind of slow implementation. It would be nice
    // to have this check as lightening fast as possible.
    return (this.indexOf(str) === 0);
  }

  $(document).ready(function(){
    ko.applyBindings(viewModel);
  });

  var viewModel = {
    numberFilter : new ko.observable(""),
    showInactive : new ko.observable(false),
    bidders : #{@auction.bidders.nil? ? '[]' : @auction.bidders.to_json}

  };

  // Some total rookie Javascript
  // We'll see how this whole idea holds up under a stress test
  viewModel.displayedBidders = ko.dependentObservable(function() {
    var displayCount = 0;
    var displayedBidders = [];
    for ( var i = 0; i < this.bidders.length; i++ ) {
      var b = this.bidders[i];
      if( (viewModel.showInactive() || b.status == 'ACTIVE') &&
           b.number.startsWith(viewModel.numberFilter())){
        displayedBidders.push(b);
        displayCount++;
        if(displayCount == 20) break;
      }
    }
    return displayedBidders;
  }, viewModel);

  viewModel.displayCount = ko.dependentObservable(function() {
    return "Showing " + this.displayedBidders().length + " of " + this.bidders.length;
  }, viewModel);

.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), "bidders"
      %li=link_to pat(:new), "bidders/new"
  .content
    %h2.title Auction :: #{@auction.title} :: Bidders
    .inner
      .block
        %form.form
          Filter by Number:
          %input{:type => 'text', :class => "text_field", :style => "width:50px", :'data-bind' => 'value:numberFilter,valueUpdate:"keyup"' }
          &nbsp;&nbsp;|&nbsp;&nbsp;Show Inactive?
          %input{:type => 'checkbox', :'data-bind' => 'value: showInactive'}
     
      %div{:'data-bind' => 'template: "biddersListTemplate"'}
      %script{:type => "text/html", :id => "biddersListTemplate"}
        %table.table
          %tr
            %th.first=mat(:bidder, :number)
            %th=mat(:bidder, :first_name)
            %th=mat(:bidder, :last_name)
            %th=mat(:bidder, :status)
            %th.last="&nbsp;"
          \{{each(i, bidder) displayedBidders()}}
          %tr.clickable{:onClick => "document.location=\'bidders/checkout/${bidder.id}\'", :'data-bind' => 'css:{odd : i%2==0, even: i%2==1}'}
            %td
              %span{:'data-bind' => "text: bidder.number"}
            %td
              %span{:'data-bind' => "text: bidder.first_name"}
            %td
              %span{:'data-bind' => "text: bidder.last_name"}
            %td
              %span{:'data-bind' => "text: bidder.status, style: { color: bidder.status == 'ACTIVE' ? 'green' : 'red' }"}
            %td.last
              %form{:class => "button_to", :method=> "get", :action=>"bidders/edit/${bidder.id}"}
                %input{:type=>"submit", :value=>"Edit"}
          \{{/each}}
          %span.highlight{:'data-bind' => 'text: displayCount'}
      .actions-bar.wat-cf
        
        .actions