:javascript
  $(function(){
    ko.applyBindings(viewModel);
  });

  function Parameters(json){
    this.company_name = ko.property(json.company_name);
    this.profile_id = ko.property(json.profile_id);
    this.tax_line1_name = ko.property(json.tax_line1_name);
    this.tax_line1_percent = ko.property(json.tax_line1_percent);
    this.tax_line2_name = ko.property(json.tax_line2_name);
    this.tax_line2_percent = ko.property(json.tax_line2_percent);
    this.allow_bidder_autoregister = ko.property(json.allow_bidder_autoregister || false);

    this.bidder_autonumber_start = ko.property(json.bidder_autonumber_start || 1);
    this.permanent_autonumber_start = ko.property(json.permanent_autonumber_start || 1000);

    this.surcharge_types = ko.observableArray(json.surcharge_types || []);
  }

  viewModel = {
    profiles : #{@profiles.to_json || []},
    params : ko.model(new Parameters(#{@app_parameters.to_json}))
  }

  viewModel.save = function(){
    this.params.save("parameters/update.json", function(result){
      $.growlUI("Parameters Saved"); 
    });
  }.bind(viewModel);


  viewModel.cancel = function(){
    this.params(new Parameters(util.getJSON("parameters.json")));
  }.bind(viewModel);

.block
  .content
    %h2.title Manage Parameters
    .inner
      %form.form{:id => 'parametersForm', :'data-bind' => 'submit: save'}
        .group
          %label Company Name:
          %span.error{:'data-bind' => "text: params().company_name.errors"}
          %br
          %input.required{:'data-bind' => "value: params().company_name"}
        .group
          %label Default Profile:
          %span.error{:'data-bind' => "text: params().profile_id.errors"}
          %br
          %select{:'data-bind' => "options: viewModel.profiles, optionsText: 'name', optionsValue:'id', value: params().profile_id, optionsCaption: 'Select A Profile...'"}
        .group
          %label Bidder Auto-Number Start:
          %span.error{:'data-bind' => "text: params().bidder_autonumber_start.errors"}
          %br
          %input.short{:'data-bind' => "value: params().bidder_autonumber_start"}
        .group
          %label Permanent Auto-Number Start:
          %span.error{:'data-bind' => "text: params().permanent_autonumber_start.errors"}
          %br
          %input.short{:'data-bind' => "value: params().permanent_autonumber_start"}
        .group
          %label Tax Lines
          %table.table{:style => "width:400px"}
            %tr
              %th.first Tax Name
              %th.last Amount (%)
            %tr
              %td
                %input{:'data-bind' => "value: params().tax_line1_name"}
                %span.error{:'data-bind' => "text: params().tax_line1_name.errors"}
              %td
                %input.short{:'data-bind' => "value: params().tax_line1_percent", :maxlength => 3}
                %span.error{:'data-bind' => "text: params().tax_line1_percent.errors"}
            %tr
              %td
                %input{:'data-bind' => "value: params().tax_line2_name"}
                %span.error{:'data-bind' => "text: params().tax_line2_name.errors"}
              %td
                %input.short{:'data-bind' => "value: params().tax_line2_percent", :maxlength => 3}
                %span.error{:'data-bind' => "text: params().tax_line2_percent.errors"}
        .group
          %label Surcharges
          %table.table{:style => "width:600px"}
            %tr
              %th.first Code
              %th Display Text
              %th.last Amount
        .group.navform.wat-cf
          %button.form_button{:type => "submit"}
            =pat(:save)
          &nbsp;&nbsp;|&nbsp;&nbsp;
          =link_to("Cancel", "#", :class => :button_to, :'data-bind' => "click : cancel")