.group=f.simple_field :username
.group=f.simple_field :name
.group=f.simple_field :surname
.group=f.simple_field :email
.group=f.simple_field :password, :type => :password
.group=f.simple_field :password_confirmation, :type => :password
.group=f.simple_field :role, :type => :select, :options => access_control.roles
.group.navform.wat-cf=f.simple_submit url(:accounts, :index)