:javascript
  // This page could use a more unobtrusive JS approach, but gets
  // the trick done for now
  $(document).ready(function(){
    submitOnEnter('#lot');
    ko.applyBindings(viewModel);
  });

  $(function() {
    $("#lot_number").focus();
    $('#qty').val('1');
  });

  var viewModel = {
      validateLot: function(){
        // Do pre-submit JS validation
        // TODO : implement
        return true;
      },
      lastErrorsFull: new ko.observable(""),
      lastErrors: new ko.observable({}),
      lots: new ko.observableArray(#{@auction.lots.nil? ? '[]' : @auction.lots.to_json}.reverse()),
      error: function(field) {
        var val = viewModel.lastErrors()[field];
        return val == undefined ? "" : val;
      },
      addLot: function (form) {
        $.ajax({
            type: "post",
            url: "/auctions/#{@auction.id}/lots/new",
            data: $("#lot").serialize(),
            dataType: 'json',
            success: function(results){
              if(results.errors){
                viewModel.lastErrorsFull(results.errors_full);
                viewModel.lastErrors(results.errors);
              } else {
                viewModel.lastErrorsFull("");
                viewModel.lastErrors({number:"", description:"", qty_available:""});
                viewModel.lots.unshift(results);
                $('#lot')[0].reset();
                $('#qty').val('1');
                $('#lot_number').focus();

              }
            },
            error: function(request, status, error_thrown){
              alert(error_thrown);
            }
        });
      }
    };
.flash
  .message.error{:'data-bind' => "text: lastErrorsFull, visible: lastErrorsFull() != ''"}
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:record)
  .content
    %h2.title Auction :: #{@auction.title} :: Lots
    .inner
      %div{:'data-bind' => 'template: "lotsListTemplate"'}
      %script{:type => "text/html", :id => "lotsListTemplate"}
        %table.table
          %tr
            %th.first Lot #
            %th Description
            %th Qty.
            %th.last
          %tr
            %form.form{:id => 'lot',:method => 'post', :"data-bind" => 'submit: addLot'}
              %td{:valign => 'top'}
                %input{:id => 'lot_number', :type => 'text', :name => 'lot[number]', :class => "text_field", :style => "width:50px"  }
              %td{:valign => 'top'}
                %textarea{:name => 'lot[description]', :class => "text_area", :style => "width:200px" }
              %td{:valign => 'top'}
                %input{:id => 'qty', :type => 'text', :name => 'lot[qty_available]', :class => "text_field", :style => "width:30px" }
              %td{:valign => 'top'}
                %input.formButton{:id => 'submit', :type => 'submit', :name => 'Submit',
                                  :class => "form_button",:tabindex => "4"}
          \{{each(i, lot) lots()}}
          %tr
            %td
              %span{:'data-bind' => "text: lot.number"}
            %td
              %span{:'data-bind' => "text: lot.description"}
            %td
              %span{:'data-bind' => "text: lot.qty_available"}
            %td
              =button_to( pat(:remove), "lots/destroy/${lot.id}", :method => :delete, :class => :button_to)
          \{{/each}}