:javascript
  $(function(){
    ko.applyBindings(viewModel);
    $("#tabs").verticalTabs();
  });

  function Bidder(viewModel) {
    this.id = ko.property();
    this.bidder_number = ko.property();
    this.company_name = ko.property();
    this.first_name = ko.property();
    this.last_name = ko.property();
    this.phone = ko.property();
    this.email = ko.property();
    this.address = ko.property();
    this.city = ko.property();
    this.state = ko.property();

    this.customer_id = ko.property();
    this.number = ko.property();
    this.id_number = ko.property();
    this.status = ko.property("ACTIVE");
    
    // functions
    this.getId = function(){
      // Get an ID number for this bidder from the server
      var nextNumber = util.getJSON("bidders/next_number").next;
      this.number(nextNumber);
    }.bind(this);

    this.checkIn = function(){
      // Check-in a bidder
      $("#customerSearch").dialog("close");

      if(viewModel.autonumber() && !this.bidder_number()){
        this.getId();
      } else {
        this.number(this.bidder_number());
      }
      this.customer_id(this.id());
      this.id("");
      viewModel.activeBidder(this);
      $("#bidderDialog").dialog({title:"Edit Bidder", height:540, width:800});
      $("#tabs").verticalTabs();
    }.bind(this);

    this.edit = function(){
      viewModel.activeBidder(this);
      $("#bidderDialog").dialog({title:"Edit Bidder", height:540, width:800});
      $("#tabs").verticalTabs();
    }.bind(this);

    this.cancel = function(){
      viewModel.activeBidder.reset();
      $("#bidderDialog").dialog("close");
    }.bind(this);

    this.save = function(){
      var wrapper = this;
      var id = wrapper().id;
      if(!id()){
        // create the record
        wrapper.save("bidders/new.json", function(result){
            viewModel.bidders.push(wrapper());
            $("#bidderDialog").dialog("close");
            $.growlUI("Bidder Added"); 
        });
        
      } else {
        // save the record
        wrapper.save("bidders/" + id() + ".json", function(){
            $("#bidderDialog").dialog("close");
            $.growlUI("Bidder Saved"); 
        });
      }
    }.bind(viewModel.activeBidder);
  }

  function biddersViewModel(){
    this.bidders = ko.observableArray([]);
    this.activeBidder = ko.model();
    this.search = ko.observable();
    this.searchResults = ko.observableArray([]);
    this.showInactive = new ko.observable(false);
    this.autonumber = ko.storedObservable(false, "bidder.autoNumber");

    // view model functions
    this.displayedBidders = ko.dependentObservable(function() {
      return ko.utils.arrayFilter(this.bidders(), function(bidder) {
        return this.showInactive() || bidder.status() == 'ACTIVE';
      });
    }, this);

    this.newBidder = function() {
      aNewBidder = new Bidder(this);
      if(this.autonumber()){
        aNewBidder.getId();
      }
      aNewBidder.edit();
    };

    this.searchCustomers = function() {
      this.searchResults([]);
      this.search(new models.SearchCustomer(this));
      $("#customerSearch").dialog({title:"Check-In Existing Customer",width:"710px"});
    };

    // Load the initial state from server
    
    this.load = function() {
      var self = this;
      $.get("bidders.json", function(json) {
          self.bidders(ko.mapToModelList(Bidder, json, self));
      });
    }.bind(this);
    
   
    this.doSearch = function(){
        var self = this;
        search().search(function(result){
           searchResults(ko.mapToModelList(Bidder, result, self));
        });
    }.bind(this);

    load();
  };

  viewModel =  biddersViewModel();

#customerSearch{:style => "display:none;"}
  %table
    %tr
      %td
        %fieldset{:style => 'padding: 6px;margin-right: 6px;'}
          %legend=pat(:search)
          %div{:'data-bind' => "template: {name:'searchForm', data: search}" }
      %td{:valign => 'top'}
        %table.table.search{:'data-bind' =>  "dataTable: { dataSource: searchResults, rowTemplate: 'searchRow', columns: ['last_name','first_name', 'company_name', 'phone', 'email', 'bidder_number'], 
                                                    options:{sPaginationType:'full_numbers', bFilter : false, bLengthChange : false, 
                                                             iDisplayLength:10,
                                                             oLanguage : {sInfo: 'Showing _START_ to _END_ of _TOTAL_ search results.',
                                                                          sInfoEmpty: 'Showing 0 of 0 search results.' } } }"}
          %thead
            %th.first=mat(:customer, :last_name)
            %th=mat(:customer, :first_name)
            %th=mat(:customer, :company_name)
            %th=mat(:customer, :phone)
            %th=mat(:customer, :email)
            %th.last Bidder #

%script{:type => "text/x-jquery-tmpl", :id => "searchForm"}
  %form.form{:'data-bind' => "submit: doSearch"}
    =partial 'templates/customer_search'
    %button.form_button{:type => "submit"}=pat(:Search)

%script{:type => "text/x-jquery-tmpl", :id => "searchRow"}
  %td{:'data-bind' => 'click : checkIn'}
    %span{:'data-bind' => "text: last_name"}
  %td{:'data-bind' => 'click : checkIn'}
    %span{:'data-bind' => "text: first_name"}
  %td{:'data-bind' => 'click : checkIn'}
    %span{:'data-bind' => "text: company_name"}
  %td{:'data-bind' => 'click : checkIn'}
    %span{:'data-bind' => "text: phone"}
  %td{:'data-bind' => 'click : checkIn'}
    %span{:'data-bind' => "text: email"}
  %td.last{:'data-bind' => 'click : checkIn'}
    %span{:'data-bind' => "text: bidder_number"}

#bidderDialog{ :style=>"display:none;"}
  %div{:'data-bind' => "template: {name:'bidderTabs', data: activeBidder}"}

%script#bidderTabs{:type => "text/x-jquery-tmpl"}
  #tabs
    %ul
      %li 
        %a{:href => "#bidder-edit"} Edit General 
      %li 
        %a{:href => "bidders/purchases/${id}"} Purchases 
    #bidder-edit{:style => "float:right"}
      %div{:'data-bind' => "template: {name:'bidderForm', data: activeBidder}"}


%script#bidderForm{:type => "text/x-jquery-tmpl"}
  .flash
    .message.error{:'data-bind' => "visible: activeBidder.hasErrors()"}
      Errors occurred while saving the bidder.
  %form.form{:id => 'bidderForm', :'data-bind' => "submit: save"}
    %fieldset{:style => "padding:6px"}
      %legend
        Current Auction
      .group
        %label Bidder Number:
        %span.error{:'data-bind' => "text: number.errors"}
        %input.required{:'data-bind' => "value: number", :style => "width: 75px", :maxlength => 6}
        %a{:href => '#', :'data-bind' => 'click: getId'}
          Assign
      .group
        %label Status:
        %span{:'data-bind' => "text: status, style: { color: status.temp() == 'ACTIVE' ? 'green' : 'red' }"}
    =partial 'templates/customer_edit'
    
    %button.form_button{:type => 'submit'}
      Save
    &nbsp;&nbsp;|&nbsp;&nbsp;
    =link_to("Cancel", "", :class => :button_to, :'data-bind' => "click : cancel")

%script{:type => "text/x-jquery-tmpl", :id => "bidderRow"}
  %td.clickable{:onClick => "document.location=\'bidders/checkout/${id}\'"}
    %span{:'data-bind' => "text: number"}
  %td.clickable{:onClick => "document.location=\'bidders/checkout/${id}\'"}
    %span{:'data-bind' => "text: first_name"}
  %td.clickable{:onClick => "document.location=\'bidders/checkout/${id}\'"}
    %span{:'data-bind' => "text: last_name"}
  %td.clickable{:onClick => "document.location=\'bidders/checkout/${id}\'"}
    %span{:'data-bind' => "text: status, style: { color: status() == 'ACTIVE' ? 'green' : 'red' }"}
  %td.last
    %span.clickable{:'data-bind' => "click: edit, clickBubble: false"}
      =image_tag 'page_white_edit.png'


-content_for(:context_panel) do
  #filter.block
    %h3 Options
    .content
      %form.form
        .group
          %label Show Inactive?
          %input{:type => 'checkbox', :'data-bind' => 'checked: showInactive'}
        .group
          %label Auto-number?
          %input{:type => 'checkbox', :'data-bind' => 'checked: autonumber'}

.block
  .content
    #title
      %h2 #{@details.auction.title} :: Bidders
    #title-menu
      %button#new{:'data-bind' => "click : newBidder, icon: 'ui-icon-plus'"}=pat(:new)
      %button#checkin{:'data-bind' => "click : searchCustomers, icon: 'ui-icon-person'"} Check-in
      %button#reload{:'data-bind' => "click : load, icon: 'ui-icon-refresh'"}=pat(:reload)
      
    .inner
      %table.table{:'data-bind' =>  "dataTable: { dataSource: displayedBidders, rowTemplate: 'bidderRow', columns: ['number', 'first_name', 'last_name', 'status', null], 
                                         options:{sPaginationType:'full_numbers' } }"}
        %thead
          %th.first=mat(:bidder, :number)
          %th=mat(:bidder, :first_name)
          %th=mat(:bidder, :last_name)
          %th=mat(:bidder, :status)
          %th.last="&nbsp;"