:javascript
  $(function(){
    ko.applyBindings(viewModel());
  });

  var Customer = function(viewModel){
    this.id = ko.property();
    this.bidder_number = ko.property();
    this.company_name = ko.property();
    this.first_name = ko.property();
    this.last_name = ko.property();
    this.phone = ko.property();
    this.email = ko.property();
    this.address = ko.property();
    this.city = ko.property();
    this.state = ko.property();
    this.id_number = ko.property();

    // functions
    this.edit = function(){
      viewModel.activeCustomer(this);
      $("#editDialog").dialog({title:"Edit Customer",width:"410px"});
    };

    this.cancel = function(){
      viewModel.activeCustomer.reset();
      $("#editDialog").dialog("close");
    };

    this.save = function(){
      var wrapper = this;
      var id = wrapper().id;
      if(!id()){
        wrapper.save("customers/new.json", function(result){
            id(result.id);
            viewModel.customers.push(wrapper());
            $("#editDialog").dialog("close");
            $.growlUI("Customer Created"); 
        });
      } else {
        wrapper.save("customers/" + id() + ".json", function(){
            $("#editDialog").dialog("close");
            $.growlUI("Customer Saved"); 
        });
      }
    }
  }

  var viewModel = function(){
    this.customers = ko.observableArray([]);
    this.activeCustomer = ko.model();
    this.search = ko.observable(new models.SearchCustomer(this));
    this.newCustomer = function() {
      new Customer(this).edit();
    };
  }

-content_for(:context_panel) do
  #filter.block
    %h3 Search Customers
    .content
      %div{:'data-bind' => "template: {name:'searchForm', data: search}"}

%script{:type => "text/x-jquery-tmpl", :id => "searchForm"}
  %form.form{:'data-bind' => 'submit: function(){ search(customers) }'}
    =partial 'templates/customer_search'
    %button.form_button{:type => "submit"}
      Search
    &nbsp;&nbsp;|&nbsp;&nbsp;
    =link_to("Clear", "#clear", :class => :button_to, :'data-bind'=>"click: clear")

#editDialog{ :style=>"display:none;"}
  %div{:'data-bind' => "template: {name:'editForm', data: activeCustomer}"}

%script{:type => "text/x-jquery-tmpl", :id => "editForm"}
  .flash
    .message.error{:'data-bind' => "visible: activeCustomer.hasErrors()"}
      Errors occurred while saving the customer record.
  %form.form{:id => 'editForm', :'data-bind' => 'submit : save'}
    =partial 'templates/customer_edit'
    %button.form_button{:type => "submit"}=pat(:save)
    &nbsp;&nbsp;|&nbsp;&nbsp;
    =link_to("Cancel", "", :class => :button_to, :'data-bind' => "click : cancel")

.block
  .content
    #title
      %h2 Customers
    #title-menu
      %button#new{:href => "#new", :'data-bind' => "click : newCustomer, icon: 'ui-icon-plus'"}
        New
    .inner
      %table.table{:'data-bind' =>  "dataTable: { dataSource: customers, rowTemplate: 'row', columns: ['company_name', 'first_name', 'last_name', 'email', 'bidder_number',null], 
                                                  options:{sPaginationType:'full_numbers', bFilter : false, bLengthChange : false, 
                                                           iDisplayLength:20,
                                                           oLanguage : {sInfo: 'Showing _START_ to _END_ of _TOTAL_ search results.',
                                                                        sInfoEmpty: 'Showing 0 of 0 search results.' } } }"}
        %thead
          %th.first=mat(:customer, :company_name)
          %th=mat(:customer, :first_name)
          %th=mat(:customer, :last_name)
          %th=mat(:customer, :email)
          %th Bidder #
          %th.last="&nbsp;"

%script{:type => "text/x-jquery-tmpl", :id => "row"}
  %td
    %span{:'data-bind' => "text: company_name"}
  %td
    %span{:'data-bind' => "text: first_name"}
  %td
    %span{:'data-bind' => "text: last_name"}
  %td
    %span{:'data-bind' => "text: email"}
  %td
    %span{:'data-bind' => "text: bidder_number"}
  %td.last
    %span.clickable{:'data-bind' => "click: edit"}
      =image_tag 'page_white_edit.png'