:javascript
  $(function(){
    $("button.print").button({icons: {
      primary: "ui-icon-print"
    }});
    $("button#mode").button({icons: {
      secondary: "ui-icon-triangle-1-s"
    }}).next().menu({
        select: function(event, ui) {
            $(this).hide();
        }
    }).popup();

    $("#lot_number").focus();


    $("#lot").validate({
       // the remote valation isn't playing well with onkeyup
       onkeyup: false,
       submitHandler: function() {
         viewModel.addLot();
       },
       errorPlacement: function(error, element) {
         var errorDiv = element.next();
         error.appendTo(errorDiv);
       },
       highlight: function(element, errorClass, validClass) {
         $(element).addClass(errorClass).removeClass(validClass);
         var errorDiv = $(element).next();
         $(errorDiv).show();
       },
       unhighlight: function(element, errorClass, validClass) {
         if(element != null){
           $(element).removeClass(errorClass).addClass(validClass);
           var errorDiv = $(element).next();
           $(errorDiv).hide();
         }
       }
    });
    jQuery.validator.addMethod("uniqueLot", function(value, element) {
        return !viewModel.lotNumberExists(value);
    }, "Duplicate lot");
    $("#lot_number").rules("add", {uniqueLot : true} );
    ko.applyBindings(viewModel);
 
  });

  models.Lot.prototype.remove = function(){
      var self = this;
      $.post("lots/destroy/" + this.id(), function() {
          viewModel.lots.remove(function(item) { return item.id() == self.id() });
          $.growlUI("Lot Removed",null,1000); 
      });
      
  }

  var viewModel = {
      autoNumber: new ko.observable(false),
      showLowHigh: new ko.observable(false),
      currentLot: new ko.observable(new models.Lot()),
      lastErrorsFull: new ko.observable(""),
      lots: new ko.observableArray([]),
      addLot: function() {
        $.ajax({
          url:  "lots/new.json",
          type: "post",
          data: ko.toJSON(viewModel.currentLot()),
          contentType: "application/json",
          success: function(result) {
            if(result.errors){
              viewModel.lastErrorsFull(result.errors_full);
            } else {
                viewModel.lastErrorsFull("");
                viewModel.lots.unshift(models.parseLot(result));
                $.growlUI("Lot Recorded",null,1000); 
                viewModel.currentLot().reset();
                if(viewModel.autoNumber()){
                    viewModel.currentLot().number(nextLotNumber());
                    $('#lot_consignee').focus();
                } else {
                    $('#lot_number').focus();
                }
            }
          }
        });
      },
      lotNumberExists: function(number) {
        for(x in this.lots()){
          if(this.lots()[x].number() == number) return true;
        }
        return false;
      }
  };

  $.get("lots.json", function(data) {
    var allLots = $.map(data, function(json) {
      return models.parseLot(json);
    });
    viewModel.lots(allLots);
  });

  var applyLotNumber = function(){
    if(!viewModel.autoNumber()){
      viewModel.currentLot().number("");
    } else {
      viewModel.currentLot().number(nextLotNumber());
    }
  }

  var nextLotNumber = function(){
    
    var max = 0;
    for(x in viewModel.lots()){
      var val = parseInt(viewModel.lots()[x].number());
      if(!isNaN(val) && val > max){
        max = val;
      }
    }
    return max+1;
  };

-content_for(:context_panel) do
  #options.block
    %h3=pat(:options)
    .content
      %form.form
        .group
          %label Auto-number?
          %input{:type => 'checkbox', :'data-bind' => 'checked: autoNumber, click: applyLotNumber()'}
        .group
          %label Show Low/High
          %input{:type => 'checkbox', :'data-bind' => 'checked: showLowHigh'}

.flash
  .message.error{:'data-bind' => "text: lastErrorsFull, visible: lastErrorsFull() != ''"}
.block
  .content
    #title
      %h2.title #{@auction.title} :: Lots
    #title-menu
      %button.print{:onClick => "window.open('lots/catalog.pdf','mywindow','width=600,height=800')"}
        View/Print Catalog
      %button#mode
        Entry Mode
      %ul{:style => 'width: 130px'}
        %li
          %a{:href => '#direct'}
            Direct
        %li
          %a{:href => '#catalog'}
            By Catalog Number
    .inner
      %form.form{:id => 'lot',:method => 'post', :action=> "/auctions/#{@auction.id}/lots/new"}
        %table.table{:'data-bind' =>  "dataTable: { dataSource: lots, rowTemplate: 'lotsListTemplate', columns: ['number', 'consignee_text', 'description', 'qty_available'], 
                       options:{'sPaginationType':'full_numbers','bSort': false}}"}
          %thead
            %tr
              %th.first Lot #
              %th Consginee
              %th Description
              %th{:'data-bind' => "visible : showLowHigh"}=pat(:low)
              %th{:'data-bind' => "visible : showLowHigh"}=pat(:high)
              %th Qty.
              %th.last
            %tr
              %td{:valign => 'top'}
                %input.text_field.required{:id => 'lot_number', :type => 'text', 
                       :name => 'lot[number]', :class => "text_field", :style => "width:50px",
                       :'data-bind' => "value: currentLot().number"  }
                .floating-error
              %td{:valign => 'top'}
                %input.text_field{:type => 'hidden', :name => 'lot[consignee_id]',
                        :'data-bind'=>'value:currentLot().consignee_id'}
                %input.text_field.required{:id => 'lot_consignee', :name => 'lot[consignee]',
                       :style => "width:50px", :'data-bind'=>'value:currentLot().consignee_code'}
                
                .floating-error
                %br
                %span{:'data-bind' => 'text:currentLot().consignee_text()'}
              %td{:valign => 'top'}
                %textarea.text_area.required{:id => 'lot_description', :name => 'lot[description]',
                       :style => "width:200px", :'data-bind'=>'value:currentLot().description' }
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : showLowHigh"}
                %input.text_field{:type => 'text', :style => "width:50px", :'data-bind'=>'value:currentLot().low'}
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : showLowHigh"}
                %input.text_field{:type => 'text', :style => "width:50px", :'data-bind'=>'value:currentLot().high'}
                .floating-error
              %td{:valign => 'top'}
                %input.text_field.required{:id => 'qty', :type => 'text',
                       :name => 'lot[qty_available]', :style => "width:30px", :'data-bind'=>'value:currentLot().qty_available' }
                .floating-error
              %td{:valign => 'top'}
                %input.form_button{:id => 'submit', :type => 'submit', :name => 'Submit',:tabindex => "4"}

%script{:type => "text/html", :id => "lotsListTemplate"}
  %td
    %span{:'data-bind' => "text: number"}
  %td
    %span{:'data-bind' => "text: consignee_text"}
  %td
    %span{:'data-bind' => "text: description"}
  %td{:'data-bind' => "visible : viewModel.showLowHigh"}
    %span{:'data-bind' => "text: low"}
  %td{:'data-bind' => "visible : viewModel.showLowHigh"}
    %span{:'data-bind' => "text: high"}
  %td
    %span{:'data-bind' => "text: qty_available"}
  %td
    %span{:'data-bind' => "click: remove, clickBubble: false"}
      =image_tag 'page_white_delete.png'
