:javascript
  $(function(){
    $("button.print").button({icons: {
      primary: "ui-icon-print"
    }});
    $("button#mode").button({icons: {
      secondary: "ui-icon-triangle-1-s"
    }}).next().menu({
        select: function(event, ui) {
            $(this).hide();
        }
    }).popup();

    $("#lot_num").focus();


    $("#lot").validate({
       submitHandler: function() {
         viewModel.addLot();
       }
    });
    $.validator.addMethod("uniqueLot", function(value, element) {
        return !viewModel.lotNumberExists(value);
    }, "Duplicate lot");
    $("#lot_num").rules("add", {uniqueLot : true} );

    ko.applyBindings(viewModel);
 
  });

  models.Lot.prototype.remove = function(){
    var self = this;
    var text = "Are you sure you want to remove this Lot record from the auction?";
    $("#dialog").html(text);
    $("#dialog").confirmationDialog({
      autoStart: true,
      onConfirm: function(){
        $.post("lots/destroy/" + self.id(), function() {
          viewModel.lots.remove(function(item) { return item.id() == self.id() });
          $.growlUI("Lot Removed",null,1000); 
        });
      }
    });
  }

  var viewModel = {
      autoNumber: new ko.storedObservable(false, "lot.autoNumber"),
      showLowHigh: new ko.storedObservable(false, "lot.showLowHigh"),
      fromCatalog: new ko.storedObservable(false, "lot.fromCatalog"),
      currentLot: new ko.observable(new models.Lot()),
      lastErrorsFull: new ko.observable(""),
      lots: new ko.observableArray([]),
      addLot: function() {
        $.ajax({
          url:  "lots/new.json",
          type: "post",
          data: ko.toJSON(viewModel.currentLot()),
          contentType: "application/json",
          success: function(result) {
            if(result.errors){
              viewModel.lastErrorsFull(result.errors_full);
            } else {
                viewModel.lastErrorsFull("");
                viewModel.lots.unshift(models.parseLot(result));
                $.growlUI("Lot Recorded",null,1000); 
                viewModel.currentLot().reset();
                if(viewModel.autoNumber()){
                    viewModel.currentLot().number(nextLotNumber());
                    $('#lot_consignee').focus();
                } else {
                    $('#lot_num').focus();
                }
            }
          }
        });
      },
      lotNumberExists: function(number) {
        for(x in this.lots()){
          if(this.lots()[x].number() == number) return true;
        }
        return false;
      }
  };

  $.get("lots.json", function(data) {
    var allLots = ko.mapToModelList(models.Lot, data);
    viewModel.lots(allLots);
  });

  var applyLotNumber = function(){
    if(!viewModel.autoNumber()){
      viewModel.currentLot().number("");
    } else {
      viewModel.currentLot().number(nextLotNumber());
    }
  }

  var nextLotNumber = function(){
    
    var max = 0;
    for(x in viewModel.lots()){
      var val = parseInt(viewModel.lots()[x].number());
      if(!isNaN(val) && val > max){
        max = val;
      }
    }
    return max+1;
  };

-content_for(:context_panel) do
  #options.block
    %h3=pat(:options)
    .content
      %form.form
        .group
          %label Auto-number?
          %input{:type => 'checkbox', :'data-bind' => 'checked: autoNumber, click: applyLotNumber()'}
        .group
          %label Show Low/High
          %input{:type => 'checkbox', :'data-bind' => 'checked: showLowHigh'}

.flash
  .message.error{:'data-bind' => "text: lastErrorsFull, visible: lastErrorsFull() != ''"}
.block
  .content
    #title
      %h2.title #{@auction.auction.title} :: Lots
    #title-menu
      %button.print{:onClick => "window.open('lots/catalog.pdf','mywindow','width=600,height=800')"}
        View/Print Catalog
      %button#mode
        Entry Mode
      %ul{:style => 'width: 130px'}
        %li
          %a{:href => '#direct'}
            Direct
        %li
          %a{:href => '#catalog'}
            By Catalog Number
    .inner
      %form#lot.form{:action=> "/auctions/#{params[:auction_id]}/lots/new"}
        %table.table{:'data-bind' =>  "dataTable: { dataSource: lots, rowTemplate: 'lotsListTemplate', columns: ['catalog_number', 'number', 'consignee_text', 'description', 'low','high','qty_available',null], 
                       options:{'sPaginationType':'full_numbers','bSort': false}}"}
          %thead
            %tr
              %th.first Lot #
              %th{:'data-bind' => "visible : fromCatalog"} Catalog #
              %th Consignee
              %th Description
              %th{:'data-bind' => "visible : showLowHigh"}=pat(:low)
              %th{:'data-bind' => "visible : showLowHigh"}=pat(:high)
              %th Qty.
              %th.last
            %tr
              %td{:valign => 'top'}
                %input#lot_num.text_field.required{:style => "width:50px", 
                       :'data-bind' => "value: currentLot().number, uniqueName: true"  }
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : fromCatalog"}
                %input#catalog_num.text_field{:style => "width:50px",
                       :'data-bind' => "value: currentLot().catalog_number, uniqueName: true"  }
                .floating-error
              %td{:valign => 'top'}
                %input#lot_consignee.text_field.required{:name => 'lot_consignee', :style => "width:50px", 
                        :'data-bind'=>'value:currentLot().consignee_code, uniqueName: true'}
                .floating-error
                %br
                %span{:'data-bind' => 'text:currentLot().consignee_text()'}
              %td{:valign => 'top'}
                %textarea#lot_desc.text_area.required{:style => "width:200px", 
                        :'data-bind'=>'value:currentLot().description, uniqueName: true' }
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : showLowHigh"}
                %input#lot_high.text_field{:style => "width:50px", 
                        :'data-bind'=>'value:currentLot().low, uniqueName: true'}
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : showLowHigh"}
                %input#lot_low.text_field{:style => "width:50px", 
                        :'data-bind'=>'value:currentLot().high, uniqueName: true'}
                .floating-error
              %td{:valign => 'top'}
                %input#lot_qty.text_field.required{:style => "width:30px", 
                      :'data-bind'=>'value:currentLot().qty_available, uniqueName: true' }
                .floating-error
              %td{:valign => 'top'}
                %button.form_button{:type => 'submit'}
                  Save

%script{:type => "text/html", :id => "lotsListTemplate"}
  %td
    %span{:'data-bind' => "text: number"}
  %td{:'data-bind' => "visible: viewModel.fromCatalog"}
    %span{:'data-bind' => "text: catalog_number"}
  %td
    %span{:'data-bind' => "text: consignee_text"}
  %td
    %span{:'data-bind' => "text: description"}
  %td{:'data-bind' => "visible : viewModel.showLowHigh"}
    %span{:'data-bind' => "text: low"}
  %td{:'data-bind' => "visible : viewModel.showLowHigh"}
    %span{:'data-bind' => "text: high"}
  %td
    %span{:'data-bind' => "text: qty_available"}
  %td
    %span{:'data-bind' => "click: remove, clickBubble: false"}
      =image_tag 'page_white_delete.png'
