:javascript
  $(function(){
    $("button.print").button({icons: {
      primary: "ui-icon-print"
    }});

    $("#lot_num").focus();


    $("#lot").validate({
       submitHandler: function() {
         viewModel.addLot();
       }
    });
    $.validator.addMethod("uniqueLot", function(value, element) {
        return !viewModel.lotNumberExists(value);
    }, "Duplicate lot");
    $("#lot_num").rules("add", {uniqueLot : true} );

    ko.applyBindings(viewModel);
 
  });

  models.Lot.prototype.edit = function(){
    viewModel.activeLot(this);
    var editTitle = "Lot " + this.number();
    $("#editDialog").dialog({title:editTitle,height:430,width:740});
    $("#tabs").verticalTabs();
  }

  this.cancel = function(){
    viewModel.activeLot.reset();
    $("#editDialog").dialog("close");
  };

  models.Lot.prototype.remove = function(){
    var self = this;
    var text = "Are you sure you want to remove this Lot record from the auction?";
    $("#dialog").html(text);
    $("#dialog").confirmationDialog({
      autoStart: true,
      onConfirm: function(){
        $.post("lots/destroy/" + self.id(), function(result) {
          if(result.errors){
            $.growlError("Error Removing Lot",result.errors); 
          } else {
            viewModel.lots.remove(function(item) { return item.id() == self.id() });
            $.growlUI("Lot Removed",null,1000); 
          }
        });
      }
    });
  }

  var viewModel = {
      autoNumber: new ko.observable(false).extend({stored:"lot.autoNumber"}),
      showLowHigh: new ko.observable(false).extend({stored:"lot.showLowHigh"}),
      fromCatalog: new ko.observable(false).extend({stored:"lot.fromCatalog"}),
      newLot: new ko.observable(new models.Lot()),
      activeLot: new ko.model(),
      lastErrorsFull: new ko.observable(""),
      lots: new ko.observableArray([]),
      addLot: function() {
        $.ajax({
          url:  "lots/new.json",
          type: "post",
          data: ko.toJSON(viewModel.newLot()),
          contentType: "application/json",
          success: function(result) {
            if(result.errors){
              $.growlError("Unable to Create Lot",result.errors_full); 
            } else {
                viewModel.lastErrorsFull("");
                viewModel.lots.unshift(models.parseLot(result));
                $.growlUI("Lot Recorded",null,1000); 
                viewModel.newLot().reset();
                if(viewModel.autoNumber()){
                    viewModel.newLot().number(nextLotNumber());
                    $('#lot_consignee').focus();
                } else {
                    $('#lot_num').focus();
                }
            }
          }
        });
      },
      lotNumberExists: function(number) {
        for(x in this.lots()){
          if(this.lots()[x].number() == number) return true;
        }
        return false;
      }
  };

  models.Lot.prototype.save = function(){
    // Handles saving the record only
    var wrapper = this;
    var id = wrapper().id;

    wrapper.save("lots/" + id() + ".json", function(){
      $("#editDialog").dialog("close");
      $.growlUI('Lot Saved'); 
    });
  }.bind(viewModel.activeLot);

  $.get("lots.json", function(data) {
    var allLots = ko.mapToModelList(models.Lot, data);
    viewModel.lots(allLots);
  });

  var applyLotNumber = function(){
    if(!viewModel.autoNumber()){
      viewModel.newLot().number("");
    } else {
      viewModel.newLot().number(nextLotNumber());
    }
  }

  var nextLotNumber = function(){
    
    var max = 0;
    for(x in viewModel.lots()){
      var val = parseInt(viewModel.lots()[x].number());
      if(!isNaN(val) && val > max){
        max = val;
      }
    }
    return max+1;
  };

-content_for(:context_panel) do
  #options.block
    %h3=pat(:options)
    .content
      %form.form
        .group
          %label Auto-number?
          %input{:type => 'checkbox', :'data-bind' => 'checked: autoNumber, click: applyLotNumber()'}
        .group
          %label Show Low/High
          %input{:type => 'checkbox', :'data-bind' => 'checked: showLowHigh'}

.block
  .content
    #title
      %h2.title #{@auction.auction.title} :: Lots
    #title-menu
      %button.print{:onClick => "window.open('lots/catalog.pdf','mywindow','width=600,height=800')"}
        View/Print Catalog
     
    .inner
      %form#lot.form{:action=> "/auctions/#{params[:auction_id]}/lots/new"}
        %table.table{:'data-bind' =>  "dataTable: { dataSource: lots, rowTemplate: 'lotsListTemplate', columns: ['catalog_number', 'number', 'consignee_text', 'description', 'low','high','qty_available',null], 
                       options:{'sPaginationType':'full_numbers','bSort': false}}"}
          %thead
            %tr
              %th.first Lot #
              %th{:'data-bind' => "visible : fromCatalog"} Catalog #
              %th Consignee
              %th Description
              %th{:'data-bind' => "visible : showLowHigh"}=pat(:low)
              %th{:'data-bind' => "visible : showLowHigh"}=pat(:high)
              %th Qty.
              %th.last
            %tr
              %td{:valign => 'top'}
                %input#lot_num.text_field.required{:style => "width:50px", 
                       :'data-bind' => "value: newLot().number, uniqueName: true"  }
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : fromCatalog"}
                %input#catalog_num.text_field{:style => "width:50px",
                       :'data-bind' => "value: newLot().catalog_number, uniqueName: true"  }
                .floating-error
              %td{:valign => 'top'}
                %input#lot_consignee.text_field.required{:name => 'lot_consignee', :style => "width:50px", 
                        :'data-bind'=>'value:newLot().consignee_code, uniqueName: true'}
                .floating-error
                %br
                %span{:'data-bind' => 'text:newLot().consignee_text()'}
              %td{:valign => 'top'}
                %textarea#lot_desc.text_area.required{:style => "width:200px", 
                        :'data-bind'=>'value:newLot().description, uniqueName: true' }
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : showLowHigh"}
                %input#lot_high.text_field{:style => "width:50px", 
                        :'data-bind'=>'value:newLot().low, uniqueName: true'}
                .floating-error
              %td{:valign => 'top', :'data-bind' => "visible : showLowHigh"}
                %input#lot_low.text_field{:style => "width:50px", 
                        :'data-bind'=>'value:newLot().high, uniqueName: true'}
                .floating-error
              %td{:valign => 'top'}
                %input#lot_qty.text_field.required{:style => "width:30px", 
                      :'data-bind'=>'value:newLot().qty_available, uniqueName: true' }
                .floating-error
              %td{:valign => 'top'}
                %button.form_button{:type => 'submit'}
                  Save

%script{:type => "text/html", :id => "lotsListTemplate"}
  %td
    %span{:'data-bind' => "text: number"}
  %td{:'data-bind' => "visible: viewModel.fromCatalog"}
    %span{:'data-bind' => "text: catalog_number"}
  %td
    %span{:'data-bind' => "text: consignee_text"}
  %td
    %span{:'data-bind' => "text: description"}
  %td{:'data-bind' => "visible : viewModel.showLowHigh"}
    %span{:'data-bind' => "text: low"}
  %td{:'data-bind' => "visible : viewModel.showLowHigh"}
    %span{:'data-bind' => "text: high"}
  %td
    %span{:'data-bind' => "text: qty_available"}
  %td
    %span.clickable{:'data-bind' => "click: edit, clickBubble: false"}
      =image_tag 'page_white_edit.png'
    %span.clickable{:'data-bind' => "click: remove, clickBubble: false"}
      =image_tag 'page_white_delete.png'

#editDialog{ :style=>"display:none;"}
  %div{:'data-bind' => "template: {name:'lotTabs', data: viewModel.activeLot}"}

%script#lotTabs{:type => "text/x-jquery-tmpl"}
  #tabs
    %ul
      %li 
        %a{:href => "#lot-edit"}Edit General 
    #lot-edit{:style => "float:right"}
      %div{:'data-bind' => "template: {name:'lotForm', data: viewModel.activeLot}"}

%script#lotForm{:type => "text/x-jquery-tmpl"}
  .flash
    .message.error{:'data-bind' => "visible: viewModel.activeLot.hasErrors()"}
      Errors occurred while saving changes to this lot.
  %form.form{:id => 'editForm', :'data-bind' => "submit: save"}
    .group
      %label Lot Number:
      %span.error{:'data-bind' => "text: number.errors"}
      %br
      %input.short{:'data-bind' => "value: number.temp"}
    .group
      %label Consignee:
      %span.error{:'data-bind' => "text: consignee_id.errors"}
      %br
      %input.short{:'data-bind' => "value: consignee_code.temp"}
      %span{:'data-bind' => 'text:consignee_text.temp'}
    .group
      %label Description:
      %span.error{:'data-bind' => "text: description.errors"}
      %br
      %textarea.text_area{:'data-bind' => "value: description.temp"}
    .group
      %label Low Estimate:
      %span.error{:'data-bind' => "text: low.errors"}
      %br
      %input.short{:'data-bind' => "value: low.temp"}
    .group
      %label High Estimate:
      %span.error{:'data-bind' => "text: high.errors"}
      %br
      %input.short{:'data-bind' => "value: high.temp"}
    .group
      %label Quantity Available:
      %span.error{:'data-bind' => "text: qty_available.errors"}
      %br
      %input.short{:'data-bind' => "value: qty_available.temp"}
    %button.form_button{:type => 'submit'}
      Save
    &nbsp;&nbsp;|&nbsp;&nbsp;
    =link_to("Cancel", "", :class => :button_to, :'data-bind' => "click : cancel")