:javascript
  $(document).ready(function(){     
    //submitOnEnter('#sale');
    reset();
    ko.applyBindings(viewModel);
  });

  reset = function(){
    // TODO : kind of a weird mish-mash between dom and view-model handling.
    viewModel.lastErrorsFull("");
    viewModel.lastErrors({});
    $('#sale')[0].reset();
    $('#qty').val('1');
    $('#lot').focus();
    viewModel.currentLot("");
  }
  
  var viewModel = {
      validateSale: function(){
        // Do pre-submit JS validation
        // TODO : implement
        return true;
      },
      currentLot: new ko.observable(""),
      lastErrorsFull: new ko.observable(""),
      lastErrors: new ko.observable({}),
      sales: new ko.observableArray(#{@auction.sales.nil? ? '[]' : @auction.sales.to_json}.reverse()),
      lots : #{@auction.lots.nil? ? '[]' : @auction.lots.to_json},
      error: function(field) {
        var val = viewModel.lastErrors()[field];
        return val == undefined ? "" : val;
      },
      addSale: function (form) {
        $.ajax({
            type: "post", 
            url: "/auctions/#{@auction.id}/sales/new", 
            data: $("#sale").serialize(), 
            dataType: 'json',
            success: function(results){
              if(results.errors){
                viewModel.lastErrorsFull(results.errors_full);
                viewModel.lastErrors(results.errors);
              } else {
                viewModel.sales.unshift(results);
                reset();
              }
            },
            error: function(request, status, error_thrown){
              alert(error_thrown);  
            }
        });
      }
  };

  viewModel.currentLotDescription = ko.dependentObservable(function() {
    for (var i = 0, j = this.lots.length; i < j; i++)
      if (this.lots[i].number == viewModel.currentLot())
        return this.lots[i].description;
    return "";
  }, viewModel);

.flash
  .message.error{:'data-bind' => "text: lastErrorsFull, visible: !nullOrEmpty(lastErrorsFull())"}
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:record)
  .content
    %h2.title Auction :: #{@auction.title} :: Sales
    .inner
      %form.form{:id => 'sale',:method => 'post', :"data-bind" => 'submit: addSale'}
        %table.table
          %thead
            %tr
              %th.first Lot #
              %th Description
              %th Bidder
              %th Price
              %th Qty.
              %th.last
            %tr
              %td{:valign => 'top'}
                %input{:id => 'lot', :type => 'text', :name => 'sale[lot]',
                       :class => "text_field", :style => "width:50px",
                       :'data-bind' => "value:currentLot, css: {error: !nullOrEmpty(lastErrors().lot)}"}
              %td{:valign => 'top'}
                %textarea{:name => 'sale[description]', :class => "text_area", :style => "width:200px",
                       :'data-bind' => "text:currentLotDescription(), css: {error: !nullOrEmpty(lastErrors().description)}"}
              %td{:valign => 'top'}
                %input{:type => 'text', :name=> 'sale[bidder]', :class => "text_field", :style => "width:50px",
                       :'data-bind' => "css: {error: !nullOrEmpty(lastErrors().bidder)}"}
              %td{:valign => 'top'}
                %input{:type => 'text', :name => 'sale[price]', :class => "text_field", :style => "width:50px",
                       :'data-bind' => "css: {error: !nullOrEmpty(lastErrors().price)}" }
              %td{:valign => 'top'}
                %input{:id => 'qty', :type => 'text', :name => 'sale[quantity]', :class => "text_field", :style => "width:30px",
                       :'data-bind' => "css: {error: !nullOrEmpty(lastErrors().price)}" }
              %td{:valign => 'top'}
                %input.form_button{:id => 'submit', :type => 'submit', :name => 'Submit',:tabindex => "6"}
          %tbody{:'data-bind'=>'template: { name: "salesListTemplate", foreach: sales }'}

%script{:type => "text/html", :id => "salesListTemplate"}
  %tr
    %td
      %span{:'data-bind' => "text: lot"}
    %td
      %span{:'data-bind' => "text: description"}
    %td
      %span{:'data-bind' => "text: bidder"} 
    %td
      %span{:'data-bind' => "text: price"} 
    %td
      %span{:'data-bind' => "text: quantity"}
    %td