:javascript
  $(function(){
    $("button#new").button({icons: {
      primary: "ui-icon-plus"
    }});
  });

  var newAccount = function(){
    document.location = "accounts/new";
  };

.block
  .content
    #title
      %h2.title
        =pat(:all)
        =mt(:accounts)
    #title-menu
      %button#new{:'data-bind' => "click : newAccount"}
        New
    .inner
      =simple_table(@accounts,[:username, :name, :surname, :email],
         :edit => "accounts/edit/${row.id}",
         :delete => "accounts/destroy/${row.id}") 
      .actions-bar.wat-cf
        