.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:accounts, :index)
      %li=link_to pat(:new), url(:accounts, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:account)
    .inner
      =simple_table(@accounts,[:username, :name, :surname, :email],
         :edit => "accounts/edit/${row.id}",
         :delete => "accounts/destroy/${row.id}") 
      .actions-bar.wat-cf
        .actions="&nbsp;"