.block
  .content
    #title
      %h2.title
        =pat(:all)
        =mt(:accounts)
    #title-menu
      %ul
        %li
          %a{:href => url(:accounts, :new)}=image_tag("add.png")
    .inner
      =simple_table(@accounts,[:username, :name, :surname, :email],
         :edit => "accounts/edit/${row.id}",
         :delete => "accounts/destroy/${row.id}") 
      .actions-bar.wat-cf
        