.group=f.simple_field :fee_percent
.group=f.simple_field :tax_line1_name
.group=f.simple_field :tax_line1_percent
.group=f.simple_field :tax_line2_name
.group=f.simple_field :tax_line2_percent
.group.navform.wat-cf=f.simple_submit url(:parameters, :index)
