.block
  .content
    %h2.title Manage Parameters
    .inner
      -form_for @app_parameters, url(:parameters, :update), :method => :put, :class => :form do |f|
        =partial "parameters/form", :locals => { :f => f }